<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>Porsche Macan 2024</title>
    <link rel="shortcut icon" type="image/icon" href="./logo/Logo.png"/>
    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="./logo/Logo.png" />
    <link rel="stylesheet" type="text/css" href="./css1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css1/css/font-awesome.css">
    <link rel="stylesheet" href="./css1/css/style.css">

  
  <!-- For favicon png -->
  <link rel="shortcut icon" type="image/icon" href="./logo/Logo.png"/>
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(./porsche_macan_turbo_2024_8k-7680x4320.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Porsche Macan 2024</h2>
                        <p>$90,000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row" id="tabs">

                <div class="col-lg-4">
                    <script>
                        document.addEventListener('DOMContentLoaded', (event) => {
                            const referrer = document.referrer;
                            const orderNowLink = document.getElementById('order-now');
                    
                            if (referrer.includes('AdminHome')) {
                                orderNowLink.style.display = 'none';
                            }
                        });
                    </script>
                    <ul>
                        <li><a href='#tabs-1'> Vehicle Specs</a></li>
                        <li><a href='#tabs-2'> Vehicle Description</a></li>
                        <li><a href='#tabs-3'> Vehicle Extras</a></li>
                        <li><a href='#tabs-4'> Contact Details</a></li>
                        <li id="order-now"><a href='Order'> Order now</a></li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <section class='tabs-content' style="width: 100%;">
                        <article id='tabs-1'>
                            <h4>Vehicle Specs</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Type</label>
                                    <p>New</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Make</label>
                                    <p>Porsche</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Model</label>
                                    <p>Macan 2024</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>First registration</label>
                                    <p>2024</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Mileage</label>
                                    <p>0 km</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Fuel</label>
                                    <p>Petrol</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Power</label>
                                    <p>350 hp</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Number of seats</label>
                                    <p>5</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Doors</label>
                                    <p>4</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Color</label>
                                    <p>Silver</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <h4>Vehicle Description</h4>
                            <p>
                                - Dynamic design with Porsche DNA <br>
                                - All-wheel drive system for optimal traction <br>
                                - Turbocharged engine delivering impressive performance <br>
                                - Sport-tuned suspension for agility <br>
                                - Luxurious leather interior with ample space <br>
                                - Power-adjustable seats with memory function <br>
                                - Advanced infotainment system with touchscreen display <br>
                                - Comprehensive safety features for peace of mind <br>
                                - Keyless entry and ignition system <br>
                                - Dual-zone automatic climate control <br>
                                - Porsche Communication Management (PCM) <br>
                            </p> 
                        </article>
                        <article id='tabs-3'>
                            <h4>Vehicle Extras</h4>
                            <div class="row">   
                                <div class="col-sm-6">
                                    <p>Premium Plus Package</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Adaptive Cruise Control</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Panoramic Sunroof</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>BOSE® Surround Sound System</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>20-inch Alloy Wheels</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>LED Headlights with PDLS</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-4'>
                            <h4>Contact Details</h4>
                            <div class="row">   
                                <div class="col-sm-6">
                                    <label>Name</label>
                                    <p>Omar Hossam</p>
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone</label>
                                    <p>+20-1280-008-668</p>
                                </div>          
                                <div class="col-sm-6">
                                    <label>Email</label>
                                    <p><a href="Omar.Abdelmotaleb@student.giu-uni.de">Omar.Abdelmotaleb@student.giu-uni.de</a></p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
</body>
</html>
