html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  
  /* Prevents scrolling */
  transition: background-color 0.3s, background-image 0.3s;
  background: url('../AdminProfile.jpg') no-repeat center center fixed;
  background-size: cover;
  /* Ensures the image covers the entire background */
}

.dark-mode {
  background-color: #333;
  color: #fff;
  background: url('../AdminProfile.jpg') no-repeat center center fixed;
  /* Optional: different image for dark mode */
  background-size: cover;
  /* Ensures the image covers the entire background */
}



.profile-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 150px;
  border-radius: 50%;
}

.profile-header h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile-details {
  padding: 20px;
  border-top: 1px solid #e2e2e2;
}

.detail {
  margin-bottom: 15px;
}

.detail span {
  color: #0b0b0bd8;
  font-weight: bold;
}

.detail p {
  color: rgb(216, 216, 221);
  margin-top: 5px;
  margin-left: 20px;
}

button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
  left: 30%;
  top: 50%;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(67, 61, 196, 0.668);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}